@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,900&display=swap');
/*font-family: 'Lato', sans-serif;*/
body{
    font-family: 'Lato', sans-serif;
    background: linear-gradient(90deg, #1e1d1c, #203439, #0b1218);
}
.txt{
    color: rgb(211, 223, 224);
    font-family: 'Teko', sans-serif;
    margin-top: 17px;
    font-size: 35px;
    font-weight: 800;
}
.timer{
    height: 22rem;
    width: 22rem;
    text-align: center;
    color: #fff;
    border: 7px solid #fff;
    border-radius: 15rem;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btns{
    margin-top: 40px;
}
.item{
   display: block;
   font-size: 25px;
   font-family: 'Lato', sans-serif;
}
#minute, #second{
    font-size: 55px;
   font-family: 'Lato', sans-serif;
}

.btn{
    margin-right: 30px;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    border: 2px solid #fff;
    height: 57px;
    width: 57px;
    border-radius: 15px;
    transition: .4s;
}
.btn2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    height: 57px;
    width: 60px;
    border-radius: 15px;
    border: 2px solid #fff;
    text-align: center;
    transition: .4s;
}
.btn2:hover{
    border: none;
    color: #fff;
}
.btn:hover{
    border: none;
    color: #fff; 
}
.show_success{
    display: block;
    padding: 1rem 0;
    color: #312f41;
    background: #d5d5d5;
    border-radius: 10px;
    transition: 0.5s ease;
    font-family: 'Teko', sans-serif;
    font-size: 35px;
}
/*======================Responsive Part======================*/
@media(max-width:410px){
    .timer{
        height: 18rem;
        width: 18rem;
        text-align: center;
        color: #fff;
        border: 7px solid #fff;
        border-radius: 15rem;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*======================Responsive Part======================*/